<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="helloPersonService" class="com.kelin.learn.HelloPersonService">
        <property name="text" value="Hello Person"/>
    </bean>

    <bean id="helloWorldService" class="com.kelin.learn.HelloWorldService">
        <property name="text" value="Hello World!"/>
        <property name="helloPersonService" ref="helloPersonService"/>
    </bean>

    <bean id="helloAopService" class="com.kelin.learn.HelloAopServiceImpl">

    </bean>

    <!--<bean id="beanInitializeLogger" class="com.kelin.learn.BeanInitializeLogger">-->
    <!--</bean>-->

</beans>